// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~bulma/sass/utilities/_all";

// Variables
@import 'variables';

@import "~bulma";
@import "~buefy/src/scss/buefy";

html,body {
    height: 100%;
    background: #ECF0F3;
}

.border-circle {
    border-radius: 50%
}
